/*
Google Fonts を読み込む
https://saruwakakun.com/html-css/basic/google-fonts
*/
@import url('https://fonts.googleapis.com/css?family=Karla');

/*
font-family で優先順に書体を適用、
body 要素は全体にかかるので、書体設定は継承される
*/
body {
  font-family: Karla, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

/* タイトル */
.title {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

/* ボックス */
.box {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: fixed; /* ウインドウに対して背景を固定する */
  background-size: cover;
}

/* ボックス内のコンテンツ */
.content {
  font-size: 25px;
  position: absolute;
  max-width: 720px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cont-right {
  right: 100px;
  /*background-color: rgba(0, 0, 255, 0.5);*/
}

.text-en, .text-ja {
  margin: .5em 0 0;
}

a {
  text-decoration: underline;
}

/* 個別のボックス */
.box001 {
  background-image: url(../images/elevator1.png);
}
.box002 {
  background-image: url(../images/elevator2.png);
}
.box003 {
  background-image: url(../images/elevator3.png);
}
.box004 {
  background-image: url(../images/elevator4.png);
}
.box005 {
  background-image: url(../images/elevator5.png);
}
.box006 {
  background-image: url(../images/elevator6.png);
}
.box007 {
  background-image: url(../images/elevator7.png);
}
.box008 {
  background-image: url(../images/elevator8.png);
}
.box009 {
  background-image: url(../images/elevator9.png);
}
.box010 {
  background-image: url(../images/1elevator1.png);
}
.box011 {
  background-image: url(../images/1elevator2.png);
}
.box012 {
  background-image: url(../images/1elevator3.png);
}
.box013 {
  background-image: url(../images/1elevator4.png);
}
.box014 {
  background-image: url(../images/1elevator5.png);
}
.box015 {
  background-image: url(../images/1elevator6.png);
}
.box016 {
  background-image: url(../images/1elevator7.png);
}
.box017 {
  background-image: url(../images/1elevator8.png);
}
.box018 {
  background-image: url(../images/1elevator9.png);
}
.box019 {
  background-image: url(../images/1elevator10.png);
}
.box020 {
  background-image: url(../images/1elevator11.png);
}
.box021 {
  background-image: url(../images/1elevator12.png);
}
.box022 {
  background-image: url(../images/1elevator13.png);
}
.box023 {
  background-image: url(../images/1elevator14.png);
}
.box024 {
  background-image: url(../images/1elevator15.png);
}
.box025 {
  background-image: url(../images/1elevator16.png);
}
.box026 {
  background-image: url(../images/1elevator17.png);
}
.box027 {
  background-image: url(../images/1elevator18.png);
}
.box028 {
  background-image: url(../images/1elevator19.png);
}
.box029 {
  background-image: url(../images/1elevator20.png);
}
.box030 {
  background-image: url(../images/1elevator21.png);
}
.box031 {
  background-image: url(../images/1elevator22.png);
}
.box032 {
  background-image: url(../images/1elevator23.png);
}
.box033 {
  background-image: url(../images/1elevator24.png);
}
.box034 {
  background-image: url(../images/1elevator25.png);
}
.box035 {
  background-image: url(../images/1elevator26.png);
}
.box036 {
  background-image: url(../images/1elevator27.png);
}
.box037 {
  background-image: url(../images/1elevator28.png);
}
.box038 {
  background-image: url(../images/1elevator29.png);
}
.box039 {
  background-image: url(../images/1elevator30.png);
}
.box040 {
  background-image: url(../images/1elevator31.png);
}
.box041 {
  background-image: url(../images/1elevator32.png);
}
.box042 {
  background-image: url(../images/1elevator33.png);
}
.box043 {
  background-image: url(../images/1elevator34.png);
}
.box044 {
  background-image: url(../images/1elevator35.png);
}
.box045 {
  background-image: url(../images/1elevator36.png);
}
.box046 {
  background-image: url(../images/1elevator37.png);
}
.box047 {
  background-image: url(../images/1elevator38.png);
}
.box048 {
  background-image: url(../images/1elevator39.png);
}
.box049 {
  background-image: url(../images/1elevator40.png);
}
.box050 {
  background-image: url(../images/1elevator41.png);
}
.box051 {
  background-image: url(../images/1elevator42.png);
}
.box052 {
  background-image: url(../images/2elevator1.png);
}
.box053 {
  background-image: url(../images/2elevator2.png);
}
.box054 {
  background-image: url(../images/2elevator3.png);
}
.box055 {
  background-image: url(../images/2elevator4.png);
}
.box056 {
  background-image: url(../images/2elevator5.png);
}
.box057 {
  background-image: url(../images/2elevator6.png);
}
.box058 {
  background-image: url(../images/2elevator7.png);
}
.box059 {
  background-image: url(../images/2elevator8.png);
}
.box060 {
  background-image: url(../images/2elevator9.png);
}
.box061 {
  background-image: url(../images/2elevator10.png);
}
.box062 {
  background-image: url(../images/2elevator11.png);
}
.box063 {
  background-image: url(../images/2elevator12.png);
}
.box064 {
  background-image: url(../images/2elevator13.png);
}
.box065 {
  background-image: url(../images/2elevator14.png);
}
.box066 {
  background-image: url(../images/2elevator15.png);
}
.box067 {
  background-image: url(../images/2elevator16.png);
}
.box068 {
  background-image: url(../images/2elevator17.png);
}
.box069 {
  background-image: url(../images/2elevator18.png);
}
.box070 {
  background-image: url(../images/2elevator19.png);
}
.box071 {
  background-image: url(../images/2elevator20.png);
}
.box072 {
  background-image: url(../images/2elevator21.png);
}
.box073 {
  background-image: url(../images/2elevator22.png);
}
.box074 {
  background-image: url(../images/2elevator23.png);
}
.box075 {
  background-image: url(../images/2elevator24.png);
}
.box076 {
  background-image: url(../images/2elevator25.png);
}
.box077 {
  background-image: url(../images/2elevator26.png);
}
.box078 {
  background-image: url(../images/2elevator27.png);
}
.box079 {
  background-image: url(../images/2elevator28.png);
}
.box080 {
  background-image: url(../images/2elevator29.png);
}
.box081 {
  background-image: url(../images/2elevator30.png);
}
.box082 {
  background-image: url(../images/2elevator31.png);
}
.box083 {
  background-image: url(../images/2elevator32.png);
}
.box084 {
  background-image: url(../images/2elevator33.png);
}
.box085 {
  background-image: url(../images/2elevator34.png);
}
.box086 {
  background-image: url(../images/2elevator35.png);
}
.box087 {
  background-image: url(../images/2elevator36.png);
}
.box088 {
  background-image: url(../images/2elevator37.png);
}
.box089 {
  background-image: url(../images/2elevator38.png);
}
.box090 {
  background-image: url(../images/2elevator39.png);
}
.box091 {
  background-image: url(../images/2elevator40.png);
}
.box092 {
  background-image: url(../images/2elevator41.png);
}
.box093 {
  background-image: url(../images/2elevator42.png);
}
.box094 {
  background-image: url(../images/3elevator1.png);
}
.box095 {
  background-image: url(../images/3elevator2.png);
}
.box096 {
  background-image: url(../images/3elevator3.png);
}
.box097 {
  background-image: url(../images/3elevator4.png);
}
.box098 {
  background-image: url(../images/3elevator5.png);
}
.box099 {
  background-image: url(../images/3elevator6.png);
}
.box100 {
  background-image: url(../images/3elevator7.png);
}
.box101 {
  background-image: url(../images/3elevator8.png);
}
.box102 {
  background-image: url(../images/3elevator9.png);
}
.box103 {
  background-image: url(../images/3elevator10.png);
}
.box104 {
  background-image: url(../images/3elevator11.png);
}
.box105 {
  background-image: url(../images/3elevator12.png);
}
.box106 {
  background-image: url(../images/3elevator13.png);
}
.box107 {
  background-image: url(../images/3elevator14.png);
}
.box108 {
  background-image: url(../images/3elevator15.png);
}
.box109 {
  background-image: url(../images/3elevator16.png);
}
.box110 {
  background-image: url(../images/3elevator17.png);
}
.box111 {
  background-image: url(../images/3elevator18.png);
}
.box112 {
  background-image: url(../images/3elevator19.png);
}
.box113 {
  background-image: url(../images/3elevator20.png);
}
.box114 {
  background-image: url(../images/3elevator21.png);
}
.box115 {
  background-image: url(../images/3elevator22.png);
}
.box116 {
  background-image: url(../images/3elevator23.png);
}
.box117 {
  background-image: url(../images/3elevator24.png);
}
.box118 {
  background-image: url(../images/3elevator25.png);
}
.box119 {
  background-image: url(../images/3elevator26.png);
}
.box120 {
  background-image: url(../images/3elevator27.png);
}
.box121 {
  background-image: url(../images/3elevator28.png);
}
.box122 {
  background-image: url(../images/3elevator29.png);
}
.box123 {
  background-image: url(../images/3elevator30.png);
}
.box124 {
  background-image: url(../images/3elevator31.png);
}
.box125 {
  background-image: url(../images/3elevator32.png);
}
.box126 {
  background-image: url(../images/3elevator33.png);
}
.box127 {
  background-image: url(../images/3elevator34.png);
}
.box128 {
  background-image: url(../images/3elevator35.png);
}
.box129 {
  background-image: url(../images/3elevator36.png);
}
.box130 {
  background-image: url(../images/3elevator37.png);
}
.box131 {
  background-image: url(../images/3elevator38.png);
}
.box132 {
  background-image: url(../images/3elevator39.png);
}
.box133 {
  background-image: url(../images/3elevator40.png);
}
.box134 {
  background-image: url(../images/3elevator41.png);
}
.box135 {
  background-image: url(../images/3elevator42.png);
}
.box136 {
  background-image: url(../images/4elevator1.png);
}
.box137 {
  background-image: url(../images/4elevator2.png);
}
.box138 {
  background-image: url(../images/4elevator3.png);
}
.box139 {
  background-image: url(../images/4elevator4.png);
}
.box140 {
  background-image: url(../images/4elevator5.png);
}
.box141 {
  background-image: url(../images/4elevator6.png);
}
.box142 {
  background-image: url(../images/4elevator7.png);
}
.box143 {
  background-image: url(../images/4elevator8.png);
}
.box144 {
  background-image: url(../images/4elevator9.png);
}
.box145 {
  background-image: url(../images/4elevator10.png);
}
.box146 {
  background-image: url(../images/4elevator11.png);
}
.box147 {
  background-image: url(../images/4elevator12.png);
}
.box148 {
  background-image: url(../images/4elevator13.png);
}
.box149 {
  background-image: url(../images/4elevator14.png);
}
.box150 {
  background-image: url(../images/4elevator15.png);
}
.box151 {
  background-image: url(../images/4elevator16.png);
}
.box152 {
  background-image: url(../images/4elevator17.png);
}
.box153 {
  background-image: url(../images/4elevator18.png);
}
.box154 {
  background-image: url(../images/4elevator19.png);
}
.box155 {
  background-image: url(../images/4elevator20.png);
}
.box156 {
  background-image: url(../images/4elevator21.png);
}
.box157 {
  background-image: url(../images/4elevator22.png);
}
.box158 {
  background-image: url(../images/4elevator23.png);
}
.box159 {
  background-image: url(../images/4elevator24.png);
}
.box160 {
  background-image: url(../images/4elevator25.png);
}
.box161 {
  background-image: url(../images/4elevator26.png);
}
.box162 {
  background-image: url(../images/4elevator27.png);
}
.box163 {
  background-image: url(../images/4elevator28.png);
}
.box164 {
  background-image: url(../images/4elevator29.png);
}
.box165 {
  background-image: url(../images/4elevator30.png);
}
.box166 {
  background-image: url(../images/4elevator31.png);
}
.box167 {
  background-image: url(../images/4elevator32.png);
}
.box168 {
  background-image: url(../images/4elevator33.png);
}
.box169 {
  background-image: url(../images/4elevator34.png);
}
.box170 {
  background-image: url(../images/4elevator35.png);
}
.box171 {
  background-image: url(../images/4elevator36.png);
}
.box172 {
  background-image: url(../images/4elevator37.png);
}
.box173 {
  background-image: url(../images/4elevator38.png);
}
.box174 {
  background-image: url(../images/4elevator39.png);
}
.box175 {
  background-image: url(../images/4elevator40.png);
}
.box176 {
  background-image: url(../images/4elevator41.png);
}
.box177 {
  background-image: url(../images/4elevator42.png);
}
.box178 {
  background-image: url(../images/5elevator1.png);
}
.box179 {
  background-image: url(../images/5elevator2.png);
}
.box180 {
  background-image: url(../images/5elevator3.png);
}
.box181 {
  background-image: url(../images/5elevator4.png);
}
.box182 {
  background-image: url(../images/5elevator5.png);
}
.box183 {
  background-image: url(../images/5elevator6.png);
}
.box184 {
  background-image: url(../images/5elevator7.png);
}
.box185 {
  background-image: url(../images/5elevator8.png);
}
.box186 {
  background-image: url(../images/5elevator9.png);
}
.box187 {
  background-image: url(../images/5elevator10.png);
}
.box188 {
  background-image: url(../images/5elevator11.png);
}
.box189 {
  background-image: url(../images/5elevator12.png);
}
.box190 {
  background-image: url(../images/5elevator13.png);
}
.box191 {
  background-image: url(../images/5elevator14.png);
}
.box192 {
  background-image: url(../images/5elevator15.png);
}
.box193 {
  background-image: url(../images/5elevator16.png);
}
.box194 {
  background-image: url(../images/5elevator17.png);
}
.box195 {
  background-image: url(../images/5elevator18.png);
}
.box196 {
  background-image: url(../images/5elevator19.png);
}
.box197 {
  background-image: url(../images/5elevator20.png);
}
.box198 {
  background-image: url(../images/5elevator21.png);
}
.box199 {
  background-image: url(../images/5elevator22.png);
}
.box200 {
  background-image: url(../images/5elevator23.png);
}
.box201 {
  background-image: url(../images/5elevator24.png);
}
.box202 {
  background-image: url(../images/5elevator25.png);
}
.box203 {
  background-image: url(../images/5elevator26.png);
}
.box204 {
  background-image: url(../images/5elevator27.png);
}
.box205 {
  background-image: url(../images/5elevator28.png);
}
.box206 {
  background-image: url(../images/5elevator29.png);
}
.box207 {
  background-image: url(../images/5elevator30.png);
}
.box208 {
  background-image: url(../images/5elevator31.png);
}
.box209 {
  background-image: url(../images/5elevator32.png);
}
.box210 {
  background-image: url(../images/5elevator33.png);
}
.box211 {
  background-image: url(../images/5elevator34.png);
}
.box212 {
  background-image: url(../images/5elevator35.png);
}
.box213 {
  background-image: url(../images/5elevator36.png);
}
.box214 {
  background-image: url(../images/5elevator37.png);
}
.box215 {
  background-image: url(../images/5elevator38.png);
}
.box216 {
  background-image: url(../images/5elevator39.png);
}
.box217 {
  background-image: url(../images/5elevator40.png);
}
.box218 {
  background-image: url(../images/5elevator41.png);
}
.box219 {
  background-image: url(../images/5elevator42.png);
}
.box220 {
  background-image: url(../images/6elevator1.png);
}
.box221 {
  background-image: url(../images/6elevator2.png);
}
.box222 {
  background-image: url(../images/6elevator3.png);
}
.box223 {
  background-image: url(../images/6elevator4.png);
}
.box224 {
  background-image: url(../images/6elevator5.png);
}
.box225 {
  background-image: url(../images/6elevator6.png);
}
.box226 {
  background-image: url(../images/6elevator7.png);
}
.box227 {
  background-image: url(../images/6elevator8.png);
}
.box228 {
  background-image: url(../images/6elevator9.png);
}
.box229 {
  background-image: url(../images/6elevator10.png);
}
.box230 {
  background-image: url(../images/6elevator11.png);
}
.box231 {
  background-image: url(../images/6elevator12.png);
}
.box232 {
  background-image: url(../images/6elevator13.png);
}
.box233 {
  background-image: url(../images/6elevator14.png);
}
.box234 {
  background-image: url(../images/6elevator15.png);
}
.box235 {
  background-image: url(../images/6elevator16.png);
}
.box236 {
  background-image: url(../images/6elevator17.png);
}
.box237 {
  background-image: url(../images/6elevator18.png);
}
.box238 {
  background-image: url(../images/6elevator19.png);
}
.box239 {
  background-image: url(../images/6elevator20.png);
}
.box240 {
  background-image: url(../images/6elevator21.png);
}
.box241 {
  background-image: url(../images/6elevator22.png);
}
.box242 {
  background-image: url(../images/6elevator23.png);
}
.box243 {
  background-image: url(../images/6elevator24.png);
}
.box244 {
  background-image: url(../images/6elevator25.png);
}
.box245 {
  background-image: url(../images/6elevator26.png);
}
.box246 {
  background-image: url(../images/6elevator27.png);
}
.box247 {
  background-image: url(../images/6elevator28.png);
}
.box248 {
  background-image: url(../images/6elevator29.png);
}
.box249 {
  background-image: url(../images/6elevator30.png);
}
.box250 {
  background-image: url(../images/6elevator31.png);
}
.box251 {
  background-image: url(../images/6elevator32.png);
}
.box252 {
  background-image: url(../images/6elevator33.png);
}
.box253 {
  background-image: url(../images/6elevator34.png);
}
.box254 {
  background-image: url(../images/6elevator35.png);
}
.box255 {
  background-image: url(../images/6elevator36.png);
}
.box256 {
  background-image: url(../images/6elevator37.png);
}
.box257 {
  background-image: url(../images/6elevator38.png);
}
.box258 {
  background-image: url(../images/6elevator39.png);
}
.box259 {
  background-image: url(../images/6elevator40.png);
}
.box260 {
  background-image: url(../images/6elevator41.png);
}
.box261 {
  background-image: url(../images/6elevator42.png);
}
.box262 {
  background-image: url(../images/7elevator1.png);
}
.box263 {
  background-image: url(../images/7elevator2.png);
}
.box264 {
  background-image: url(../images/7elevator3.png);
}
.box265 {
  background-image: url(../images/7elevator4.png);
}
.box266 {
  background-image: url(../images/7elevator5.png);
}
.box267 {
  background-image: url(../images/7elevator6.png);
}
.box268 {
  background-image: url(../images/7elevator7.png);
}
.box269 {
  background-image: url(../images/7elevator8.png);
}
.box270 {
  background-image: url(../images/7elevator9.png);
}
.box271 {
  background-image: url(../images/7elevator10.png);
}
.box272 {
  background-image: url(../images/7elevator11.png);
}
.box273 {
  background-image: url(../images/7elevator12.png);
}
.box274 {
  background-image: url(../images/7elevator13.png);
}
.box275 {
  background-image: url(../images/7elevator14.png);
}
.box276 {
  background-image: url(../images/7elevator15.png);
}
.box277 {
  background-image: url(../images/7elevator16.png);
}
.box278 {
  background-image: url(../images/7elevator17.png);
}
.box279 {
  background-image: url(../images/7elevator18.png);
}
.box280 {
  background-image: url(../images/7elevator19.png);
}
.box281 {
  background-image: url(../images/7elevator20.png);
}
.box282 {
  background-image: url(../images/7elevator21.png);
}
.box283 {
  background-image: url(../images/7elevator22.png);
}
.box284 {
  background-image: url(../images/7elevator23.png);
}
.box285 {
  background-image: url(../images/7elevator24.png);
}
.box286 {
  background-image: url(../images/7elevator25.png);
}
.box287 {
  background-image: url(../images/7elevator26.png);
}
.box288 {
  background-image: url(../images/7elevator27.png);
}
.box289 {
  background-image: url(../images/7elevator28.png);
}
.box290 {
  background-image: url(../images/7elevator29.png);
}
.box291 {
  background-image: url(../images/7elevator30.png);
}
.box292 {
  background-image: url(../images/7elevator31.png);
}
.box293 {
  background-image: url(../images/7elevator32.png);
}
.box294 {
  background-image: url(../images/7elevator33.png);
}
.box295 {
  background-image: url(../images/7elevator34.png);
}
.box296 {
  background-image: url(../images/7elevator35.png);
}
.box297 {
  background-image: url(../images/7elevator36.png);
}
.box298 {
  background-image: url(../images/7elevator37.png);
}
.box299 {
  background-image: url(../images/7elevator38.png);
}
.box300 {
  background-image: url(../images/7elevator39.png);
}
.box301 {
  background-image: url(../images/7elevator40.png);
}
.box302 {
  background-image: url(../images/7elevator41.png);
}
.box303 {
  background-image: url(../images/7elevator42.png);
}
.box304 {
  background-image: url(../images/8elevator1.png);
}
.box305 {
  background-image: url(../images/8elevator2.png);
}
.box306 {
  background-image: url(../images/8elevator3.png);
}
.box307 {
  background-image: url(../images/8elevator4.png);
}
.box308 {
  background-image: url(../images/8elevator5.png);
}
.box309 {
  background-image: url(../images/8elevator6.png);
}
.box310 {
  background-image: url(../images/8elevator7.png);
}
.box311 {
  background-image: url(../images/8elevator8.png);
}
.box312 {
  background-image: url(../images/8elevator9.png);
}
.box313 {
  background-image: url(../images/8elevator10.png);
}
.box314 {
  background-image: url(../images/8elevator11.png);
}
.box315 {
  background-image: url(../images/8elevator12.png);
}
.box316 {
  background-image: url(../images/8elevator13.png);
}
.box317 {
  background-image: url(../images/8elevator14.png);
}
.box318 {
  background-image: url(../images/8elevator15.png);
}
.box319 {
  background-image: url(../images/8elevator16.png);
}
.box320 {
  background-image: url(../images/8elevator17.png);
}
.box321 {
  background-image: url(../images/8elevator18.png);
}
.box322 {
  background-image: url(../images/8elevator19.png);
}
.box323 {
  background-image: url(../images/8elevator20.png);
}
.box324 {
  background-image: url(../images/8elevator21.png);
}
.box325 {
  background-image: url(../images/8elevator22.png);
}
.box326 {
  background-image: url(../images/8elevator23.png);
}
.box327 {
  background-image: url(../images/8elevator24.png);
}
.box328 {
  background-image: url(../images/8elevator25.png);
}
.box329 {
  background-image: url(../images/8elevator26.png);
}
.box330 {
  background-image: url(../images/8elevator27.png);
}
.box331 {
  background-image: url(../images/8elevator28.png);
}
.box332 {
  background-image: url(../images/8elevator29.png);
}
.box333 {
  background-image: url(../images/8elevator30.png);
}
.box334 {
  background-image: url(../images/8elevator31.png);
}
.box335 {
  background-image: url(../images/8elevator32.png);
}
.box336 {
  background-image: url(../images/8elevator33.png);
}
.box337 {
  background-image: url(../images/8elevator34.png);
}
.box338 {
  background-image: url(../images/8elevator35.png);
}
.box339 {
  background-image: url(../images/8elevator36.png);
}
.box340 {
  background-image: url(../images/8elevator37.png);
}
.box341 {
  background-image: url(../images/8elevator38.png);
}
.box342 {
  background-image: url(../images/8elevator39.png);
}
.box343 {
  background-image: url(../images/8elevator40.png);
}
.box344 {
  background-image: url(../images/8elevator41.png);
}
.box345 {
  background-image: url(../images/8elevator42.png);
}
.box346 {
  background-image: url(../images/9elevator1.png);
}
.box347 {
  background-image: url(../images/9elevator2.png);
}
.box348 {
  background-image: url(../images/9elevator3.png);
}
.box349 {
  background-image: url(../images/9elevator4.png);
}
.box350 {
  background-image: url(../images/9elevator5.png);
}
.box351 {
  background-image: url(../images/9elevator6.png);
}
.box352 {
  background-image: url(../images/9elevator7.png);
}
.box353 {
  background-image: url(../images/9elevator8.png);
}
.box354 {
  background-image: url(../images/9elevator9.png);
}
.box355 {
  background-image: url(../images/9elevator10.png);
}
.box356 {
  background-image: url(../images/9elevator11.png);
}
.box357 {
  background-image: url(../images/9elevator12.png);
}
.box358 {
  background-image: url(../images/9elevator13.png);
}
.box359 {
  background-image: url(../images/9elevator14.png);
}
.box360 {
  background-image: url(../images/9elevator15.png);
}
.box361 {
  background-image: url(../images/9elevator16.png);
}
.box362 {
  background-image: url(../images/9elevator17.png);
}
.box363 {
  background-image: url(../images/9elevator18.png);
}
.box364 {
  background-image: url(../images/9elevator19.png);
}
.box365 {
  background-image: url(../images/9elevator20.png);
}
.box366 {
  background-image: url(../images/9elevator21.png);
}
.box367 {
  background-image: url(../images/9elevator22.png);
}
.box368 {
  background-image: url(../images/9elevator23.png);
}
.box369 {
  background-image: url(../images/9elevator24.png);
}
.box370 {
  background-image: url(../images/9elevator25.png);
}
.box371 {
  background-image: url(../images/9elevator26.png);
}
.box372 {
  background-image: url(../images/9elevator27.png);
}
.box373 {
  background-image: url(../images/9elevator28.png);
}
.box374 {
  background-image: url(../images/9elevator29.png);
}
.box375 {
  background-image: url(../images/9elevator30.png);
}
.box376 {
  background-image: url(../images/9elevator31.png);
}
.box377 {
  background-image: url(../images/9elevator32.png);
}
.box378 {
  background-image: url(../images/9elevator33.png);
}
.box379 {
  background-image: url(../images/9elevator34.png);
}
.box380 {
  background-image: url(../images/9elevator35.png);
}
.box381 {
  background-image: url(../images/9elevator36.png);
}
.box382 {
  background-image: url(../images/9elevator37.png);
}
.box383 {
  background-image: url(../images/9elevator38.png);
}
.box384 {
  background-image: url(../images/9elevator39.png);
}
.box385 {
  background-image: url(../images/9elevator40.png);
}
.box386 {
  background-image: url(../images/9elevator41.png);
}
.box387 {
  background-image: url(../images/9elevator42.png);
}
.box388 {
  background-image: url(../images/10elevator1.png);
}
.box389 {
  background-image: url(../images/10elevator2.png);
}
.box390 {
  background-image: url(../images/10elevator3.png);
}
.box392 {
  background-image: url(../images/10elevator4.png);
}
.box393 {
  background-image: url(../images/10elevator5.png);
}
.box394 {
  background-image: url(../images/10elevator6.png);
}
.box395 {
  background-image: url(../images/10elevator7.png);
}
.box396 {
  background-image: url(../images/10elevator8.png);
}
.box397 {
  background-image: url(../images/10elevator9.png);
}
.box398 {
  background-image: url(../images/10elevator10.png);
}
.box499 {
  background-image: url(../images/10elevator11.png);
}
.box400 {
  background-image: url(../images/10elevator12.png);
}
.box401 {
  background-image: url(../images/10elevator13.png);
}
.box402 {
  background-image: url(../images/10elevator14.png);
}
.box403 {
  background-image: url(../images/10elevator15.png);
}
.box404 {
  background-image: url(../images/10elevator16.png);
}
.box405 {
  background-image: url(../images/10elevator17.png);
}
.box406 {
  background-image: url(../images/10elevator18.png);
}
.box407 {
  background-image: url(../images/10elevator19.png);
}
.box408 {
  background-image: url(../images/10elevator20.png);
}
.box409 {
  background-image: url(../images/10elevator21.png);
}
.box410 {
  background-image: url(../images/10elevator22.png);
}
.box411 {
  background-image: url(../images/10elevator23.png);
}
.box412 {
  background-image: url(../images/10elevator24.png);
}
.box413 {
  background-image: url(../images/10elevator25.png);
}
.box414 {
  background-image: url(../images/10elevator26.png);
}
.box415 {
  background-image: url(../images/10elevator27.png);
}
.box416 {
  background-image: url(../images/10elevator28.png);
}
.box417 {
  background-image: url(../images/10elevator29.png);
}
.box418 {
  background-image: url(../images/10elevator30.png);
}
.box419 {
  background-image: url(../images/10elevator31.png);
}
.box420 {
  background-image: url(../images/10elevator32.png);
}
.box421 {
  background-image: url(../images/10elevator33.png);
}
.box422 {
  background-image: url(../images/10elevator34.png);
}
.box423 {
  background-image: url(../images/10elevator35.png);
}
.box424 {
  background-image: url(../images/10elevator36.png);
}
.box425 {
  background-image: url(../images/10elevator37.png);
}
.box426 {
  background-image: url(../images/10elevator38.png);
}
.box427 {
  background-image: url(../images/10elevator39.png);
}
.box428 {
  background-image: url(../images/10elevator40.png);
}
.box429 {
  background-image: url(../images/10elevator41.png);
}
.box430 {
  background-image: url(../images/10elevator42.png);
}
